<div class="container p-4">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <h3>Detalles del Grupo</h3>
      </div>
      <div class="col-sm-6">
        <!-- Puedes agregar botones o enlaces adicionales aquí si lo necesitas -->
      </div>
    </div>
  </div>
  <div class="col-sm-12 mt-4">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col"># Grupo</th>
          <th scope="col">ID Estudiante</th>
          <th scope="col">Nombre Completo</th>
          <th scope="col">Carrera</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{detallesGrupo.num_grupo}}</td>
          <td>{{detallesGrupo.idestudiante}}</td>
          <td>{{detallesGrupo.Nombres_Completo}}</td>
          <td>{{detallesGrupo.carrera}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
